/* ==========================================================================
	Name: blog.less
	Desc: blog page styles
========================================================================== */
@blog-layout: 1;
@blog-text-align: left;

// article
@blog-article-margin: 0 0 @base-spacing 0;
@blog-article-height: 200px;
// thumb
@blog-article-thumb-width: @blog-article-height;
@blog-article-thumb-height: @blog-article-height;
@blog-article-thumb-border-radius: 0;
@blog-article-thumb-float: left;
@blog-article-thumb-margin: 0 @base-spacing 0 0;

// title
@blog-article-title-font-size: 25px;
@blog-article-title-font-weight: 700;
// indicators
@blog-indicators-margin: 0 0 (@base-spacing / 2);
@blog-indicators-item-title-font-size: 15px;
@blog-indicators-item-title-font-weight: 500;
@blog-indicators-item-color: @main-color;
@blog-indicators-item-margin: 0 10px 0 0;
// more
@blog-article-more-height: auto;
@blog-article-more-font-size: 16px;
@blog-article-more-font-weight: 500;
@blog-article-more-text-decoration: underline;
@blog-article-more-color: @main-color;
@blog-article-more-background: #fff;
@blog-article-more-padding: 5px 0 0;
@blog-article-more-text-align: right;
@blog-article-more-box-shadow: 0px -5px 35px 10px @blog-article-more-background;

/* ==========================================================================
	Name: blog.less
	Desc: blog detail page styles
========================================================================== */
@blog-detail-layout: 1;

// form
@blog-detail-form-margin: @base-spacing 0 0;
@blog-detail-form-padding: @base-spacing (@base-spacing / 2);
@blog-detail-form-border: 1px solid @border-color-base;
// link to login
@blog-detail-form-login-link-color: @main-color;
@blog-detail-form-login-link-font-size: 16px;
@blog-detail-form-login-link-font-weight: 500;
// message
@blog-detail-form-message-margin: 0 auto (@base-spacing / 2);
// button
@blog-detail-form-button-width: 450px;
@blog-detail-form-button-margin: 0 auto (@base-spacing / 2);

// comments
@blog-detail-comments-border: 1px solid @border-color-base;
@blog-detail-comments-margin: 0;
@blog-detail-comments-padding: @base-spacing (@base-spacing / 2);

// comment
@blog-detail-comment-margin: 0 0 @base-spacing;
@blog-detail-comment-padding: 0;
// author
@blog-detail-comment-author-color: @main-color;
@blog-detail-comment-author-margin: 0 5px 0 0;
@blog-detail-comment-author-font-size: 16px;
@blog-detail-comment-author-font-weight: 500;
// date
@blog-detail-comment-date-color: inherit;
@blog-detail-comment-date-margin: 0;
@blog-detail-comment-date-font-size: 13px;
@blog-detail-comment-date-font-weight: 500;
// text
@blog-detail-comment-text-color: inherit;
@blog-detail-comment-text-margin: 0;
@blog-detail-comment-text-padding: @base-spacing / 2;
@blog-detail-comment-text-font-size: 15px;
@blog-detail-comment-text-font-weight: 500;