/* ==========================================================================
	Name: navbar.less
	Desc: variables of NavBar component
========================================================================== */
@navbar-height: 70px;
@navbar-padding: 0 10px;
@navbar-color: #fff;
@navbar-background: @dark-grey;

// logo
@navbar-logo-height: @navbar-height - 6px;
@navbar-logo-margin: 2px;

// menu button
@navbar-menu-font-size: 20px;

// links
@navbar-links-font-size: 15px;
@navbar-links-padding: 0 10px;
@navbar-links-icon-margin: 10px;
@navbar-links-active-font-color: @main-color;