/* ==========================================================================
	Name: base-elements.less
	Desc: styles for base elements
========================================================================== */
body {
	font-family: @font-family-base;
	color: @font-color-base;
}

body * {
	box-sizing: border-box;
}

[class*="-page"] {
  .container;
  padding: @base-spacing 0;
}

/* ==========================================================================
	Forms
========================================================================== */
// container
.form-group {
	position: relative;
	margin-top: 15px;

	input[type="checkbox"] + label {
		margin-left: 5px;
	}
}

// buttons
.btn {
	padding: 10px 15px;
	background: #fff;
	outline: none;
	border: none;
	color: @body-text-color;
	box-shadow: @small-shadow;
	cursor: pointer;
	border-radius: 2px;
	text-transform: uppercase;
	.transition-base;

	&.full-width {
		width: 100%;
	}

	&:hover {
		background: darken(#fff, 10%);
	}

	&.btn-primary {
		background: @main-color;
		color: #fff;

		&:hover {
			background: darken(@main-color, 10%);
		}
	}

	&.btn-secondary {
		background: @secondary-color;
		color: #fff;

		&:hover {
			background: darken(@secondary-color, 10%);
		}
	}

	&.btn-danger {
		background: @danger-color;
		color: #fff;

		&:hover {
			background: darken(@danger-color, 10%);
		}
	}

	&:disabled {
		cursor: default;
		pointer-events: none;
		opacity: 0.4;
	}
}

// input
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
	outline: none;
	border: none;
	border-bottom: @input-border;
	height: @input-height;
	padding: @input-padding;
	font-size: @input-font-size;
	min-width: @input-min-width;
	.transition-fast;

	&:focus {
		border-color: @main-color;
	}

	&:focus ~ label {
		top: -20px;
		font-size: 12px;
	}
}

// textarea
textarea {
	resize: none;
	outline: none;
	min-width: @input-min-width;
	min-height: @input-min-width / 2;
	padding: @input-padding;
	font-size: @input-font-size;
	border: 1px solid @border-color-base;
	.transition-fast;

	&:focus, &:active {
		border-color: @main-color;
	}
}

// select
.select {
	display: inline-block;

	select {
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		background: #fff;
		padding: @select-padding;
		border-bottom: @select-border;
		min-width: @select-min-width;
		font-size: @select-font-size;
		height: @select-height;
		.transition-fast;

		&:active, &:focus {
			border-color: @main-color;
		}
	}
}