/* ==========================================================================
	Name: base-elements.less
	Desc: styles for base elements
========================================================================== */
body {
	font-family: @font-family-base;
	color: @font-color-base;
}

body * {
	box-sizing: border-box;
}

[class*="-page"] {
   .container;
   padding: 40px 0;
}

/* ==========================================================================
	Forms
========================================================================== */
// container
.form-group {
	position: relative;
	margin-top: 15px;

	input[type="checkbox"] + label {
		margin-left: 5px;
	}
}

// buttons
.btn {
	padding: 10px 15px;
	background: #fff;
	outline: none;
	border: none;
	color: @body-text-color;
	box-shadow: @small-shadow;
	cursor: pointer;
	border-radius: 2px;
	text-transform: uppercase;
	.transition-base;

	&:hover {
		background: darken(#fff, 10%);
	}

	&.btn-primary {
		background: @main-color;
		color: #fff;

		&:hover {
			background: darken(@main-color, 10%);
		}
	}

	&.btn-danger {
		background: @danger-color;
		color: #fff;

		&:hover {
			background: darken(@danger-color, 10%);
		}
	}

	&:disabled {
		cursor: default;
		pointer-events: none;
		opacity: 0.4;
	}
}

// inputs
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
	outline: none;
	border: none;
	border-bottom: 1px solid @border-color-base;
	height: 30px;
	padding: 0 5px;
	font-size: 15px;
	min-width: 250px;
	.transition-fast;

	&:focus {
		border-color: @main-color;
	}

	&:focus ~ label {
		top: -20px;
		font-size: 12px;
	}
}