/* ==========================================================================
	Name: typo.less
	Desc: typography definitions
========================================================================== */
h1 {
	font-size: 35px;
	line-height: 1;
	width: 100%;
	margin-bottom: @base-spacing;
}

h2 {
	font-size: 30px;
	line-height: 1;
	width: 100%;
	margin-bottom: @base-spacing / 2;
}

p {
	font-size: 16px;
	line-height: 1;
	margin-bottom: @base-spacing / 2;
}