@import '~var';
@import '~tools/mixins';

.navbar {
  height: @navbar-height;
  padding: @navbar-padding;
  line-height: @navbar-height;
  background-color: @navbar-background;
  color: @navbar-color;
  text-align: center;
  .clear;
  
  // logo
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    height: @navbar-height;

    img {
      line-height: @navbar-height;
      height: @navbar-logo-height;
      margin-top: @navbar-logo-margin;
    }
  }
  
  // menu
  .menu {
    font-size: @navbar-menu-font-size;
    float: left;
    line-height: inherit;
    cursor: pointer;
    .transition-fast;

    &:hover {
      color: @navbar-links-active-font-color;
    }
  }
  
  // main links
  .navbar-links {
    line-height: @navbar-height;
    float: @navbar-links-float;
    margin: @navbar-links-margin;
    color: inherit;
    vertical-align: top;
    
    // items
    a, span {
      margin: @navbar-links-item-margin;
      padding: @navbar-links-padding;
      font-size: @navbar-links-font-size;
      text-transform: @navbar-links-text-transform;
      text-decoration: @navbar-links-text-decoration;
      cursor: pointer;
      .transition-fast;

      i {
        margin-right: @navbar-links-icon-margin;
      }

      &.active , &:hover {
        color: @navbar-links-active-font-color;
      }
    }
  }
  
  // user dropdown
  .dropdown {
    float: @navbar-dropdown-float;
    margin: @navbar-dropdown-margin;
  }
  
  // welcome message
  .welcome {
    margin: @navbar-welcome-margin;
    float: @navbar-welcome-float;
    font-size: @navbar-welcome-font-size;
    text-decoration: @navbar-welcome-text-decoration;
    padding: @navbar-welcome-padding;
    text-transform: @navbar-welcome-text-transform;
  }
}