.user-info {
	text-align: center;
	padding: 10px 0;
	color: #fff;

	.name {
		margin-top: 10px;
	}

	.username {
		margin-top: 5px;
		font-size: 12px;
		opacity: 0.7;
	}

	svg {
		height: auto;
		width: 80px;
	}
}