/* ==========================================================================
	Name: var.less
	Desc: global variables
========================================================================== */

// colors
@body-bg-color: #eeeeee;
@body-text-color: #333333;

// sidebar
@side-bar-width: 300px;

// navbar
@navbar-height: 60px;

// content
@page-content-width: 80vw;
@page-content-padding: 10px 10vw;

// typography and fonts
@fa-font-path: '../fonts/font-awesome';