html, body {
	height: 100%;
	box-sizing: border-box;
}

#approot, .app-body {
	height: 100%;
	overflow: hidden;
}

main {
	padding: 20px;
	box-sizing: border-box;
	height: calc(~'100% - 64px');
}

.page {
	min-height: 100%;
}